* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    min-height: 100vh;
    min-width: 300px;
}
.head_cont {
    width: 100%;
    height: 22.6vw;
    display: flex;
    position: relative;
}
.head_part-1 {
    width: 57%;
    height: 100%;
}

.box-1 {
    /* width: max(5.5vw,80px); */
    width: 5.5vw;
    /* height: max(5.5vw,80px); */
    height: 5.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.box-2 {
    width: 85%;
    height: 84%;
    background-color: #4F7581;
}

.text_cont{
    display: flex;
    /* background-color: yellow; */
    align-items: flex-end;
    margin: 6.5vw 0 40px max(4vw,10px);
}
.text_cont h1{
    color: #D26D49;
    letter-spacing: -2px;
    font-weight: 600;
    margin-left: max(3.4vw,10px);
    /* font-size: max(3.9vw,35px); */
    font-size: 3.9vw;
}
.text_cont span{
    font-weight: 100;
    color: black;
}
.head_part-2{
    background-color: red;
}
.right_strip{
    height: 42vw;
    /* width: max(38vw,550px); */
    width: 38vw;
    background-color: #3a585ace; 
    position: absolute;
    top: 0;
    right: 5vw;
    border-radius: 0 0 47% 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block-start: 6vw;
}
.right_strip h1{
    color: white;
    font-size: 6.5vw;
    font-family: "Oswald",serif;
    font-weight: 700;       
    line-height: 8.5vw;
    /* background-color: black; */
    letter-spacing: -3px;
}
.image_cont{
    /* height: 120vh; */
    height: 70vw;
    width: 100%;
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer{
    width: 94%;
    margin: 0 auto;
    /* background-color: rgba(153, 205, 50, 0.494); */
    display: flex;
    padding-bottom: 40px;
}
.footer_outline{
    width: 100%;
    height: 20px;
    background-color:#d75e32;
}
.left{
    /* height: 100%; */
    width: 58%;
    /* background-color: rgba(255, 0, 0, 0.456); */
}
.right{
    /* height: 100%; */
    width: 42%;
    /* background-color: rgba(0, 128, 0, 0.498); */
}
.service_top{
    /* background-color: rebeccapurple; */
    width: 100%;
}
.service_top h3{
    padding:8vw 0 3.8vw 0;
    font-size: 2.8vw;
    font-weight: 600;
    color: #4F7581;
    text-align: center;
}
/* .footer_left_btm{
    background-color: aqua;
} */
.parah_left_cont1{
    /* background-color: white; */
    display: flex;
    width: 100%;
    margin-block-end: 3.6vw;
}
.count{
    font-size: 6.5vw;
    font-family: "oswald",serif;
    font-weight: 900;
    color:#d75e32;
    display: flex;
    justify-content: center;
    align-items:center;
    /* height:100px; */
    height: fit-content;
    margin-top: -2.04vw;
}
.align-2{
    padding:0.1vw 1vw 0 1.5vw;
    width: 80%;
}
.align-2 h3{
    font-size: max(2vw,9px);
    margin-block-end: 5px;
    color: #405e67;
}
.align-2 p{
    font-size: max(1.6vw,9px);
    font-weight: 100;
    line-height: 2vw;
    color: rgba(0, 0, 0, 0.628);
    word-break: break-all;
    text-align: justify;
}
.spacing{
    letter-spacing: 0.5vw;
}
.right_parah_cont{
    width: 93%;
    height: 100%;
    margin: 0 0 0 0.7vw;
    /* background-color:rgba(0, 0, 255, 0.581) ; */
}
.right_parah_1{
    background-color: #3f6769;
    color: rgba(255, 255, 255, 0.875);
    padding:max(2.3vw,15px) 4.4vw max(3vw,15px) 2.4vw;
}
.cont1 h3{
    font-size: max(2vw, 9px);  
    font-weight: 800;
    text-align: center;
    padding-block: 1.8vw;
}
.cont1 p{
    font-size: max(1.6vw,9px);
    line-height: 1.8vw;
    font-weight: 100;
    word-spacing: 0.7vw;
    word-break: break-all;
    text-align: justify;
}
.right_parah_2{
    color: rgba(255, 255, 255, 0.875);
    padding:max(2.3vw,15px) 3.8vw max(1vw,8px) 3.5vw;
    background-color: #d75e32;
}
.cont2 h3{
    font-size: max(2vw, 9px);;   
    font-weight: 800;
    text-align: center;
    padding-block: 1.8vw;
}
.cont2 p{
    font-size:max(1.6vw,9px);
    line-height: 2.3vw;
    font-weight:100;
    word-break: break-all;
    text-align: justify;
    padding-block-end: 2vw;
}
.right_parah_3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4E4E4;
    padding: max(5vw,22px) 0 max(4.1vw,17px) 0;
}
.right_parah_3 a{
    color:#3f6769;
    text-decoration: none;
    font-size: 1.7vw;
    margin:0 auto;
}
@media(max-width:500px){
    .right_strip h1{
        letter-spacing: -2px;
    }
    .box-1{
        height: 7vw;
        width: 7vw;
    }
    .text_cont h1{
        font-size: 5vw;
    }
    /* .main{
        min-height: 100vh;
    } */
    .align-2 p{
        line-height: initial;
    }
    .cont1 p{
        line-height: initial;
    }
    .cont2 p{
        line-height: initial;
    }
}
/* @media (max-width:700px) {
    .head_cont{
        height: 24vw;
    }
    .right_strip{
        padding-block-start:7vw;
        right: 3vw;
    }
    .right_strip h1{
        letter-spacing: -1px;
    }
    .text_cont{
        margin: 6vw 0 40px max(3vw, 10px)
    }
    .footer{
        width: 100%;
    }
    .right_parah_cont{
        width: 100%;
        margin: 0;
    }
    .right_parah_1{
        padding:30px 20px 50px 20px;
    }
    .right_parah_2{
        padding:25px 25px 25px 25px;
    }
    .service_top h3{
        padding: 10vh 0 5vh 0;
    }
    .count{
        height:84px;
        font-size: 96px;
    }
    .align-2{
        padding: 3px 8px 0 5px;
        width: 80%;    
    }
    .footer{
        flex-direction: column;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
}
@media (max-width:500px) {
    .box-1{
        display: none;
    }    
    .head_cont{
        flex-direction: column;
        height: initial;
        position: relative;
    }
    .text_cont{
        margin: 0;
        width: 70%;
    }
    .right_strip{
        position: static;
        width: 100%;
        border-radius: 0;
        height: fit-content;
        padding: 12px 0;
    }
    .right_strip h1{
        line-height: initial;
        font-size: 30px;
    }
    .image_cont{
        height: 90vh;
    }
} */